In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
df1 = pd.read_excel("D:\BoardInfinity\python assignement\Problem2\Table1.xlsx")
df2 = pd.read_excel("D:\BoardInfinity\python assignement\Problem2\Table2.xlsx")

In [13]:
df1 = df1.sort_values('CustomerNum')

In [14]:
df2 = df2.sort_values('CustomerNum')

In [47]:
df1.head()

    CustomerNum
24            1
10            2
13            3
28            4
2             5

In [180]:
l=[]
m=list(df1['CustomerNum'].values)
n=list(df2['CustomerNum'].values)

In [181]:
for i in range(len(n)//4):
    # print(list1[i*3],list1[i*3+1],list1[i*3+2])
    l.extend((m[i*3],m[i*3+1],m[i*3+2]))
    # print(list2[i*4],list2[i*4+1],list2[i*4+2],list2[i*4+3])
    l.extend((n[i*4],n[i*4+1],n[i*4+2],n[i*4+3]))

i+=1
l.extend((m[i*3],m[i*3+1],m[i*3+2]))
R=len(n)%4
l.extend(n[-R:])
l.extend(m[(i+1)*3:])
print(l)

[1, 2, 3, 51, 52, 53, 54, 4, 5, 6, 55, 56, 57, 58, 7, 8, 9, 59, 60, 61, 62, 10, 11, 12, 63, 64, 65, 66, 13, 14, 15, 67, 68, 69, 70, 16, 17, 18, 71, 72, 73, 74, 19, 20, 21, 75, 76, 77, 78, 22, 23, 24, 79, 80, 81, 82, 25, 26, 27, 83, 84, 85, 86, 28, 29, 30, 87, 88, 89, 90, 31, 32, 33, 91, 92, 93, 94, 34, 35, 36, 95, 96, 97, 98, 37, 38, 39, 99, 100, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]